In [54]:
import pandas as pd

In [55]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_colwidth', None)

# Load Data

In [56]:
df = pd.read_excel('data/study_data.xlsx')

In [57]:
df

      category_seq1  product_seq                               product_title
0                17     46231071                   레드페이스 남성 반팔티(100)L 13000원
1                13     46231074                카카오프렌즈 교통카드 미개봉 새상품 (무지) 팝니다
2                14     46231062                                      최신도로공학
3                10     46231064                               사당역)욕실장 싸게팔아요
4                16     46231070                    60v 10-15a 미니 가변 급충 팝니다.
...             ...          ...                                         ...
9995              7     46221899                      LG 듀얼 인버터 스탠드 에어컨 판매해요
9996              7     46221856       (판매)(전국설치)신품 삼성 업소용 천정형인버터냉난방기 설치/판매!
9997              8     46221860  [판매]@그래픽카드 정품신품대량,메인보드,램,ssd,파워케이스 대량전문 용산
9998             11     46221846                          네오플램 피카 인덕션 미개봉새상품
9999              3     46221847                        태그호이어 그랜드 까레라 (택포 7)

[10000 rows x 3 columns]

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_seq1  10000 non-null  int64
 1   product_seq    10000 non-null  int64
 2   product_title  10000 non-null  object
dtypes: int64(2), object(1)
memory usage: 234.5+ KB

## 중복 데이터 확인 및 중복 데이터, Null 값 제거

In [59]:
df['product_title'].nunique()

9552

중복 제거

In [60]:
df.drop_duplicates(subset=['product_title'], inplace=True)

null 값이 존재하는행 제거

In [61]:
df = df.dropna(how='any')

데이터 확인

In [62]:
print('샢픔 데이터 수: ', len(df))

샢픔 데이터 수:  9552

In [63]:
df

      category_seq1  product_seq                               product_title
0                17     46231071                   레드페이스 남성 반팔티(100)L 13000원
1                13     46231074                카카오프렌즈 교통카드 미개봉 새상품 (무지) 팝니다
2                14     46231062                                      최신도로공학
3                10     46231064                               사당역)욕실장 싸게팔아요
4                16     46231070                    60v 10-15a 미니 가변 급충 팝니다.
...             ...          ...                                         ...
9995              7     46221899                      LG 듀얼 인버터 스탠드 에어컨 판매해요
9996              7     46221856       (판매)(전국설치)신품 삼성 업소용 천정형인버터냉난방기 설치/판매!
9997              8     46221860  [판매]@그래픽카드 정품신품대량,메인보드,램,ssd,파워케이스 대량전문 용산
9998             11     46221846                          네오플램 피카 인덕션 미개봉새상품
9999              3     46221847                        태그호이어 그랜드 까레라 (택포 7)

[9552 rows x 3 columns]

## 특수문자 제거

정규 표현식을 이용하여 한글 영어 숫자 _ - + 띄어어쓰기기 남기고 제거

In [64]:
df['product_title_regex'] = df['product_title'].str.replace(r'[^ㄱ-ㅎㅏ-ㅣ가-힣a-zA-Z0-9-_+ ]', '', regex=True)

In [65]:
df

,category_seq1,product_seq,product_title,product_title_regex
0,17,46231071,레드페이스 남성 반팔티(100)L 13000원,레드페이스 남성 반팔티100L 13000원
1,13,46231074,카카오프렌즈 교통카드 미개봉 새상품 (무지) 팝니다,카카오프렌즈 교통카드 미개봉 새상품 무지 팝니다
2,14,46231062,최신도로공학,최신도로공학
3,10,46231064,사당역)욕실장 싸게팔아요,사당역욕실장 싸게팔아요
4,16,46231070,60v 10-15a 미니 가변 급충 팝니다.,60v 10-15a 미니 가변 급충 팝니다
...,...,...,...,...
9995,7,46221899,LG 듀얼 인버터 스탠드 에어컨 판매해요,LG 듀얼 인버터 스탠드 에어컨 판매해요
9996,7,46221856,(판매)(전국설치)신품 삼성 업소용 천정형인버터냉난방기 설치/판매!,판매전국설치신품 삼성 업소용 천정형인버터냉난방기 설치판매
9997,8,46221860,"[판매]@그래픽카드 정품신품대량,메인보드,램,ssd,파워케이스 대량전문 용산",판매그래픽카드 정품신품대량메인보드램ssd파워케이스 대량전문 용산
9998,11,46221846,네오플램 피카 인덕션 미개봉새상품,네오플램 피카 인덕션 미개봉새상품
9999,3,46221847,태그호이어 그랜드 까레라 (택포 7),태그호이어 그랜드 까레라 택포 7

# 한국어 띄어쓰기 패키지(pykospacing)

In [66]:
from pykospacing import Spacing

In [67]:
spacing = Spacing()

In [68]:
def spacing_title(x):
    kospacing_sentence = spacing(x)
    return kospacing_sentence

In [69]:
df['product_title_kospacing'] = df.product_title_regex.map(lambda x: spacing_title(x))

In [97]:
df[df.product_title_regex != df.product_title_kospacing][['product_title_regex', 'product_title_kospacing']].sample(20)

,product_title_regex,product_title_kospacing
6698,신분증스캐너 팝니다,신분증 스캐너 팝니다
2882,세코 이데아 전자동머신 화곡동,세코 이데아 전자동 머신 화곡동
9801,개인지외 묶음,개인지 외 묶음
4062,정품 프라다 모헤어 스커트 샤넬 버버리 38 3031 총장 56,정품 프라다 모 헤어 스커트 샤넬 버버리 38 3031 총장 56
8789,MOTHAN 스트라이프 블라우스 88사이즈 상태좋아요 택배비는 별도입니다 반값택배 가능합니다,MOTHAN 스트라이프 블라우스 88 사이즈 상태 좋아요 택배비는 별 도입니다 반값 택배 가능합니다
2227,판매 싼타페dm 더프라임 좌우 전동 통풍열선시트판매,판매 싼타페 dm 더 프라임 좌우 전동 통풍 열선시트 판매
4300,명품 아미니트ami세인트제임스 메르디앙L 사이즈,명품 아미니트 am i세인트 제임스 메르디앙 L 사이즈
5545,캠핑 우드 쉘프 2단 팝니다10만,캠핑 우드 쉘프 2단 팝니다 10만
3683,모바일이마트상품권 직접가서 교환하실수있는분,모바일이마트 상품권 직접 가서 교환하실 수 있는 분
9008,풍년비엔나압력밥솥 8인용 3중바닥,풍년비엔 나 압력밥솥 8인용 3중 바닥
6430,ort 69단계 노멀북 정품 cd포함 인북스정품 옥스포드리딩트리 69단계,ort 69단계 노멀북 정품 cd포함 인 북스 정품 옥스포드리딩 트리 69단계
3688,아디다스 노마드 nmd 팝니다,아디다스 노마드 nm d 팝니다
9247,64루이까스텔 골프 여성팬츠,64루이까스텔 골프 여성 팬츠
4165,카누 kanu 홈카페머그 블렌더세트 미사용,카누 kanu 홈카페 머그 블렌더 세트 미 사용
7953,그램 머니사이드업 세트파우치마우스패드스티커 새제품팝니다,그램 머니 사이드업 세트 파우치 마우스 패드 스티커 새 제품 팝니다
2177,love for nana only 1 tribute +NaNa 5613권 세트 운포15,love for nana only 1 tribute +NaNa 5613권 세트 운포 15
1667,판매 LG G7 G710 64기가 블루 A급 팝니다 8만원,판매 LG G7 G710 64기가 블루 A급 팝니 다 8만원
5377,66 노스페이스 하이벤트 바람막이,66 노스페이스 하 이벤트 바람막이
5090,스팅어33 awd 고스트클로징,스팅어 33 awd 고스트클로징
4273,해리포터책 몽땅 택포14000,해리포터책 몽땅 택포 14000

## 불용어 제거

In [80]:
stop_words = ['팝니다', '팔아요', '팜', '판매', '삽니다', '사요', '삼']

In [81]:
def remove_stop_words(x):
    result = [word for word in x.split() if not word in stop_words]
    return ' '.join(result)

In [82]:
df['product_title_remove_stop_words'] = df.product_title_kospacing.map(lambda x: remove_stop_words(x))

In [85]:
df

,category_seq1,product_seq,product_title,product_title_regex,product_title_kospacing,product_title_remove_stop_words
0,17,46231071,레드페이스 남성 반팔티(100)L 13000원,레드페이스 남성 반팔티100L 13000원,레드페이스 남성 반팔티 100L 13000원,레드페이스 남성 반팔티 100L 13000원
1,13,46231074,카카오프렌즈 교통카드 미개봉 새상품 (무지) 팝니다,카카오프렌즈 교통카드 미개봉 새상품 무지 팝니다,카카오프렌즈 교통카드 미개봉 새 상품 무지 팝니다,카카오프렌즈 교통카드 미개봉 새 상품 무지
2,14,46231062,최신도로공학,최신도로공학,최신 도로공학,최신 도로공학
3,10,46231064,사당역)욕실장 싸게팔아요,사당역욕실장 싸게팔아요,사당역 욕실장 싸게 팔아요,사당역 욕실장 싸게
4,16,46231070,60v 10-15a 미니 가변 급충 팝니다.,60v 10-15a 미니 가변 급충 팝니다,60v 10-15a 미니 가 변 급 충 팝니다,60v 10-15a 미니 가 변 급 충
...,...,...,...,...,...,...
9995,7,46221899,LG 듀얼 인버터 스탠드 에어컨 판매해요,LG 듀얼 인버터 스탠드 에어컨 판매해요,LG 듀얼 인버터 스탠드 에어컨 판매해요,LG 듀얼 인버터 스탠드 에어컨 판매해요
9996,7,46221856,(판매)(전국설치)신품 삼성 업소용 천정형인버터냉난방기 설치/판매!,판매전국설치신품 삼성 업소용 천정형인버터냉난방기 설치판매,판매 전국 설치 신품 삼성 업소용 천정형 인버터 냉난방기 설치 판매,전국 설치 신품 삼성 업소용 천정형 인버터 냉난방기 설치
9997,8,46221860,"[판매]@그래픽카드 정품신품대량,메인보드,램,ssd,파워케이스 대량전문 용산",판매그래픽카드 정품신품대량메인보드램ssd파워케이스 대량전문 용산,판매 그래픽카드 정품 신품 대량 메인보드램ssd파워 케이스 대량 전문 용산,그래픽카드 정품 신품 대량 메인보드램ssd파워 케이스 대량 전문 용산
9998,11,46221846,네오플램 피카 인덕션 미개봉새상품,네오플램 피카 인덕션 미개봉새상품,네오플램 피카 인덕션 미개봉 새 상품,네오플램 피카 인덕션 미개봉 새 상품
9999,3,46221847,태그호이어 그랜드 까레라 (택포 7),태그호이어 그랜드 까레라 택포 7,태그호이어 그랜드 까레라 택포 7,태그호이어 그랜드 까레라 택포 7

# Tokenization(Pynori)

In [86]:
from pynori.korean_analyzer import KoreanAnalyzer

In [87]:
nori = KoreanAnalyzer(
           decompound_mode='DISCARD', # DISCARD or MIXED or NONE
           infl_decompound_mode='DISCARD', # DISCARD or MIXED or NONE
           discard_punctuation=True,
           output_unknown_unigrams=False,
           pos_filter=False,
           synonym_filter=False, mode_synonym='NORM', # NORM or EXTENSION
       )

In [98]:
def analyzer(x):
    result = nori.do_analysis(x)
    return result['termAtt'], result['posTagAtt']

In [107]:
test = df.copy()
df = test.sample(10)

In [132]:
df['product_title_nori_result'], df['product_title_nori_tags']  = zip(*df.product_title_remove_stop_words.map(lambda x: analyzer(x)))

In [133]:
df

,category_seq1,product_seq,product_title,product_title_regex,product_title_kospacing,product_title_remove_stop_words,product_title_nori_result,"(product_title_nori_result, product_title_nori_tags)",product_title_nori_tags
4877,13,46226574,가면라이더 세이버 최광 팝니다,가면라이더 세이버 최광 팝니다,가면 라이더 세이버 최광 팝니다,가면 라이더 세이버 최광,"[가, 면, 라이더, 세이버, 최광]","([가, 면, 라이더, 세이버, 최광], [VV, EC, NNG, NNG, NNP])","[VV, EC, NNG, NNG, NNP]"
3759,2,46227636,라코스테,라코스테,라코스테,라코스테,[라코스테],"([라코스테], [NNP])",[NNP]
5904,3,46225639,뉴발란스 991 브라운 265 사이즈 판매 (대구),뉴발란스 991 브라운 265 사이즈 판매 대구,뉴발란스 991 브라운 265 사이즈 판매 대구,뉴발란스 991 브라운 265 사이즈 대구,"[뉴, 발란스, 991, 브라운, 265, 사이즈, 대, 구]","([뉴, 발란스, 991, 브라운, 265, 사이즈, 대, 구], [NNP, NNP, SN, NNP, SN, NNG, XSV, EC])","[NNP, NNP, SN, NNP, SN, NNG, XSV, EC]"
9345,5,46222478,여아 원피스 120 사이즈 일괄,여아 원피스 120 사이즈 일괄,여아 원피스 120 사이즈 일괄,여아 원피스 120 사이즈 일괄,"[여아, 원피스, 120, 사이즈, 일괄]","([여아, 원피스, 120, 사이즈, 일괄], [NNG, NNG, SN, NNG, NNG])","[NNG, NNG, SN, NNG, NNG]"
5216,2,46226256,폴로 랄프로렌 맨즈 스트레치 옥스포드 셔츠 슬림핏 L,폴로 랄프로렌 맨즈 스트레치 옥스포드 셔츠 슬림핏 L,폴로 랄 프로렌 맨즈 스트레치 옥스포드 셔츠 슬림핏 L,폴로 랄 프로렌 맨즈 스트레치 옥스포드 셔츠 슬림핏 L,"[폴로, 이, 랄, 프로, 렌, 맨즈, 스트레치, 옥스포드, 셔츠, 슬림, 핏, l]","([폴로, 이, 랄, 프로, 렌, 맨즈, 스트레치, 옥스포드, 셔츠, 슬림, 핏, l], [NNG, VCP, ETM, NNG, NNG, NNP, NNP, NNP, NNG, NNP, NNG, SL])","[NNG, VCP, ETM, NNG, NNG, NNP, NNP, NNP, NNG, NNP, NNG, SL]"
8080,6,46223629,갤럭시탭S8울트라 그래파이트WIFI 128GB 미개봉새상품판매,갤럭시탭S8울트라 그래파이트WIFI 128GB 미개봉새상품판매,갤럭시탭S8 울트라 그래 파이트 WIFI 128GB 미개봉 새 상품 판매,갤럭시탭S8 울트라 그래 파이트 WIFI 128GB 미개봉 새 상품,"[갤럭시, 탭, s, 8, 울트라, 그래, 파이트, wifi, 128, gb, 미개, 봉, 새, 상품]","([갤럭시, 탭, s, 8, 울트라, 그래, 파이트, wifi, 128, gb, 미개, 봉, 새, 상품], [NNP, NNG, SL, SN, NNG, IC, NNP, SL, SN, SL, NNG, MAG, MM, NNG])","[NNP, NNG, SL, SN, NNG, IC, NNP, SL, SN, SL, NNG, MAG, MM, NNG]"
284,10,46230754,듀오백 바인 200MW 판매합니다.,듀오백 바인 200MW 판매합니다,듀오백 바인 200MW 판매합니다,듀오백 바인 200MW 판매합니다,"[듀오, 백, 바, 이, ᆫ, 200, mw, 판매, 하, ᄇ니다]","([듀오, 백, 바, 이, ᆫ, 200, mw, 판매, 하, ᄇ니다], [NNG, NR, NNBC, VCP, ETM, SN, SL, NNG, XSV, EC])","[NNG, NR, NNBC, VCP, ETM, SN, SL, NNG, XSV, EC]"
2356,10,46228893,함박자스민,함박자스민,함박자 스민,함박자 스민,"[함, 박, 자, 스미, ᆫ]","([함, 박, 자, 스미, ᆫ], [NNG, NNG, XSN, VV, ETM])","[NNG, NNG, XSN, VV, ETM]"
355,1,46230708,루이비통 아이비백,루이비통 아이비백,루이비통 아이비백,루이비통 아이비백,"[루이비통, 아이, 비백]","([루이비통, 아이, 비백], [NNP, NNG, NNG])","[NNP, NNG, NNG]"
8192,1,46223482,롤렉스 서브마리너 금통 판매 합니다.,롤렉스 서브마리너 금통 판매 합니다,롤렉스 서브 마리너 금통 판매 합니다,롤렉스 서브 마리너 금통 합니다,"[롤렉스, 서브, 마리너, 금, 통, 하, ᄇ니다]","([롤렉스, 서브, 마리너, 금, 통, 하, ᄇ니다], [NNP, NNG, NNP, NNG, NNG, XSV, EC])","[NNP, NNG, NNP, NNG, NNG, XSV, EC]"

In [110]:
nori.do_analysis('짜자ㅡㅇ나')['termAtt'], nori.do_analysis('짜자ㅡㅇ나')['posTagAtt']

(['짜', '자', 'ㅡㅇ나'], ['VV', 'EC', 'UNKNOWN'])

In [130]:
list(zip(*df.product_title_remove_stop_words.map(lambda x: analyzer(x))))

[(['가', '면', '라이더', '세이버', '최광'],
  ['라코스테'],
  ['뉴', '발란스', '991', '브라운', '265', '사이즈', '대', '구'],
  ['여아', '원피스', '120', '사이즈', '일괄'],
  ['폴로', '이', '랄', '프로', '렌', '맨즈', '스트레치', '옥스포드', '셔츠', '슬림', '핏', 'l'],
  ['갤럭시',
   '탭',
   's',
   '8',
   '울트라',
   '그래',
   '파이트',
   'wifi',
   '128',
   'gb',
   '미개',
   '봉',
   '새',
   '상품'],
  ['듀오', '백', '바', '이', 'ᆫ', '200', 'mw', '판매', '하', 'ᄇ니다'],
  ['함', '박', '자', '스미', 'ᆫ'],
  ['루이비통', '아이', '비백'],
  ['롤렉스', '서브', '마리너', '금', '통', '하', 'ᄇ니다']),
 (['VV', 'EC', 'NNG', 'NNG', 'NNP'],
  ['NNP'],
  ['NNP', 'NNP', 'SN', 'NNP', 'SN', 'NNG', 'XSV', 'EC'],
  ['NNG', 'NNG', 'SN', 'NNG', 'NNG'],
  ['NNG',
   'VCP',
   'ETM',
   'NNG',
   'NNG',
   'NNP',
   'NNP',
   'NNP',
   'NNG',
   'NNP',
   'NNG',
   'SL'],
  ['NNP',
   'NNG',
   'SL',
   'SN',
   'NNG',
   'IC',
   'NNP',
   'SL',
   'SN',
   'SL',
   'NNG',
   'MAG',
   'MM',
   'NNG'],
  ['NNG', 'NR', 'NNBC', 'VCP', 'ETM', 'SN', 'SL', 'NNG', 'XSV', 'EC'],
  ['NNG', 'NNG', 'XSN', 'VV', 'ETM'],
  ['NNP', 'NNG', 'NNG'],
  ['NNP', 'NNG', 'NNP', 'NNG', 'NNG', 'XSV', 'EC'])]